h1, h2, h3 {
    color: darkgray;
}

.box-1 {
    background-color: lemonchiffon;
    color: black;
}

.container {
    margin: auto;
    /*width: 960px;*/
    width: 98%;
}

.categories {
    padding: 0 0 0 20px;
    border: 1px solid black;
}

.categories h2 {
    color: red;
    padding: 0;
}

.categories ul {
    list-style: none;
}

body {
    background-color: beige;
    color: darkorchid;
    font-family: Arial, Helvetica, SansSerif, sans-serif;
}

.text-box {
    float: left;
    width: 20%;
    border: 1px black solid;
    padding: 5px;
    color: black;
}

.clr {
    padding: 20px;
    clear: both;
}

#main {
    width: 60%;
    float: left;
}

#sidebar {
    width: 20%;
    float: right;
    background-color: black;
}

#sidebar p, h1, h2, h3 {
    font-weight: bold;
    color: white;
}