h1, h2, h3 {
    color: darkgray;
}

.box-1 {
    background-color: lemonchiffon;
    color: black;
}

.container {
    margin: auto;
    /*width: 960px;*/
    width: 98%;
}

.categories {
    padding: 0 0 0 20px;
    border: 1px solid black;
}

.categories h2{
    color: red;
    padding: 0;
}

.categories ul{
    list-style: none;
}

body {
    background-color: beige;
    color: darkorchid;
    font-family: Arial, Helvetica, SansSerif, sans-serif;
}